<div class="jumbotron text-center">
  <div class="container">
 <h1> Thanks! Your code is on the way please enter verification code on the box below. </h1>

  </div>

<%= debug(params) if Rails.env.development? %>

</div>




<div class="container" id="app-texty-form-verify-go">
  <%= form_for @phone, url: '/apps/texty/update'  do |f| %>
  <%= f.label :vercode, 'Enter your verification code' %>
  <%= f.password_field :vercode, class: 'form-control', placeholder: '############' %>


  <br>
  <%= f.submit 'Verify', class: 'btn btn-primary'%>
  <% end %>
</div>
