<div class="jumbotron text-center">
  <div class="container">
 <h1> Thanks! Your code is on the way please enter verification number <%= @phone.number %>.</h1>

  </div>


</div>




<div class="container" id="app-texty-form-verify-go">
  <%= form_for @phone, url: '/apps/texty/go' do |f| %>
  <%= f.label :vercode, 'Enter your verification code' %>
  <%= f.telephone_field :vercode, class: 'form-control', placeholder: '############' %>


  <br>
  <%= f.submit 'Verify', class: 'btn btn-primary' %>
  <% end %>
</div>
