<div class="jumbotron text-center">
  <div class="container">
 <h1> Thanks! Your code has been sent to <%= @phone.number %>  </h1>

  </div>

</div>




<div class="container" id="app-texty-form-verify-go">
  <%= form_for @phone, url: '/apps/texty/update'  do |f| %>
  <%= f.label :vercode, 'Enter your verification code' %>
  <%= f.password_field :vercode, class: 'form-control', placeholder: '############' %>


  <br>
  <%= f.submit 'Verify', class: 'btn btn-primary'%>
  <% end %>
</div>

<br><br><br>


<div class="container" id="app-texty-form-verify-go">
  <h2> Wrong phone number or need us to resend verification code? <%= button_to "Get vercode", '/apps/texty/forgot' , :method => :get, class: 'btn btn-primary'%><h2>
</div>
