<div class="jumbotron text-center">
  <div class="container">
 <h1> Thanks! Your code is on the way please enter verification code on the box below. </h1>

  </div>

<%= "Your phone number is :" + @phone.number + "Your code: " + @phone.vercode%>

<%= "Your phone user_id is :" + @phone.user_id.to_s + "Your user_id is: " + @user.id.to_s%>

</div>




<div class="container" id="app-texty-form-verify-go">
  <%= form_for @phone, url: '/apps/texty/update'  do |f| %>
  <%= f.label :vercode, 'Enter your verification code' %>
  <%= f.password_field :vercode, class: 'form-control', placeholder: '############' %>


  <br>
  <%= f.submit 'Verify', class: 'btn btn-primary'%>
  <% end %>
</div>

<br><br><br>

<div class="container" id="app-texty-form-verify-go">
  <h1>Wrong phone number? Or resend sms?<h1>

  <%= form_for @phone, url: '/apps/texty/send_text', method: :patch  do |f| %>
  <%= f.label :number, 'Enter your phone number' %>
  <%= f.text_field :number, class: 'form-control', placeholder: '############' %>




  <br>
  <%= f.submit 'Re-send VerCode', class: 'btn btn-primary'%>
  <% end %>
</div>
