<div class="jumbotron text-center">
  <div class="container">
 <h1> <%= 'Your phone: '+ @phone.number %> <br> <%= 'Your vercode: ' + @phone.vercode %></h1>

<button type="button" onclick="submitForm()"> Send data</button>

<%= javascript_include_tag "api.js" %>
</div>
</div>

<%= link_to "Create New User", new_user_path %>
<%if @users.present? %>
<h1> <%= @users[-1][:id] + @user %>
  <p>Below is the list of users</p>
  <table width="100%">
    <tr>
      <td>ID</td>
      <td>first_name</td>
      <td>last_name</td>
      <td>email</td>
      <td>Action</td>
    </tr>
    <%@users.each do |u|%>
    <tr>
      <td><%=u[:id]%></td>
      <td><%=u[:first_name]%></td>
      <td><%=u[:last_name]%></td>
      <td><%=u[:email]%></td>

    </tr>
   <%end%>
  </table>
<%else%>
  <p>No User is Found</p>
<%end%>






</div>
</div>
