<!DOCTYPE html>
<html>
<head>
  <title>SMS</title>
   <%= include_gon %>

  <link href='https://fonts.googleapis.com/css?family=Fira+Mono' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js' %>


  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">



        <a style="background-color:#3d4255;  position: relative; left:48%" href="/"><img src="/assets/pixfizzlogo.png" alt="logo" /></a>



</nav>

<%= yield %>

</body>
</html>
